<!-- table -->
table1 {
  border-collapse: collapse;
  width: 100%;
}

<!-- td, th -->
td1, th1 {
  border: 1px solid #FFF;
  color: white;
  text-align: left;
  padding: 8px;
}

<!-- tr:nth-child(odd) -->
tr1:nth-child(odd) {
  background-color: #3a3a3a;
}